<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
  <div class="container">
    <a class="navbar-brand" href="/">
      <i class="fas fa-link"></i> SIGEMA
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        {{#if user}}


        <!--    LINKS   -->
        <!--
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
          Links
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/links">All Links</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/links/add">Add A Link</a>
          </div>
        </li>
        -->

        <!--    FACTURAS   -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
          Facturas
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/facturas">Listar</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/facturas2">Editar</a>
        </li> 



        <!--    TRAMAS   -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
          Tramas
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/Tramas">Listar</a>
            <div class="dropdown-divider"></div>
        </li> 


        
        {{#if administrador}}
          <!--    CATALOGOS   -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
            Catálogos
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/BancoCentral">Indicadores Banco Central</a>
              <div class="dropdown-divider"></div>            
            </div>
          </li> 
        {{/if}}
        
        <!--    LOGIN   -->

        <li class="nav-item dropdown">


          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
          Usuario
          </a>

          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/profile">Perfil</a>
            <div class="dropdown-divider"></div>        
            {{#if administrador}}
            <a class="dropdown-item" href="/signup">Crear</a>
            <div class="dropdown-divider"></div>            
            {{/if}}
            <a class="dropdown-item" href="/usuarios_modifica">Modificar</a>
            <div class="dropdown-divider"></div>
          </div>

        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Salir</a>
        </li>


        {{else}}
        <li class="nav-item">
          <a class="nav-link" href="/signin">Entrar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/signup">Registro</a>
        </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>